[submodule "cpplogging"]
	path = deps/cpplogging
	url = https://github.com/davidorchansky/cpplogging.git
[submodule "deps/cpputils"]
	path = deps/cpputils
	url = https://github.com/dcentelles/cpputils.git
